<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bianca.copsub">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cs"
        android:logo="@drawable/cs"
        android:label="Copenhagen Suborbitals"
        android:roundIcon="@mipmap/cs"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:banner="@drawable/csi"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>